@model ShoppingCartViewModel

@{ Layout = "_Layout"; }

<div class="row checkoutForm">
    <h2>Your shopping cart</h2>
    <h4>Here are the drinks in your shopping cart.</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Selected amount</th>
                <th>Drink</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
<tr>
    <td class="text-center">@line.Amount</td>
    <td class="text-left">@line.Drink.Name</td>
    <td class="text-right">@line.Drink.Price.ToString("c")</td>
    <td class="text-right">
        @((line.Amount * line.Drink.Price).ToString("c"))
    </td>
    <td class="text-center"><a class="glyphicon glyphicon-remove text-danger remove" asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-drinkId="@line.Drink.DrinkId"></a></td>
</tr>
}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.ShoppingCartTotal.ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-right">
        <div class="btn-group ">
            <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Check out</a>
            <a class="btn-group">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Add more drinks<span class="caret"></span>
                </a>
            </a>

        </div>
    </div>

    <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <a asp-controller="Drink"
               asp-action="Index"
               class="dropdown-toggle" data-toggle="dropdown">Drinks<b class="caret"></b></a>
            <ul class="dropdown-menu">
        </button>
        <div class="dropdown-menu">
            @foreach (var category in Model.Categories)
            {
        <li>
            <a asp-controller="Drink" asp-action="List"
               asp-route-category="@category.CategoryName">@category.CategoryName</a>
        </li>}
            <li class="divider"></li>
            <li>
                <a asp-controller="Drink" asp-action="List" asp-route-category="">View all drinks</a>
            </li>
        </div>
    </div>

    <li class="dropdown">
       
         
        </ul>
    </li>

</div>
